/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

.heading{
  font-size: 32px;
  color: #000000;
  text-align: center;
}

/*以下で線を表示*/
.heading::after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}



/*--------------------- ヘッダー ------------------------------*/
header{
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.header-logo{
  height: 70px;
}

.header-nav{
  float: right;
  color: #FAFAFA;
  font-size: 16px;
}

/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

.header-nav li{
  float: right;
  color: #FAFAFA;
  font-size: 16px;
  line-height: 70px;
  padding: 0 30px;
}


/*--------------------- メインビジュアル ------------------------------*/
.main-visual{
  background-image: url("img/mv.png");
  background-position: center;
  background-size: cover;
  height: 650px;
}

.main-visual-texts{
  padding-top : 200px;
  padding-bottom : 200px;
}

.main-text{
  color: #FAFAFA;
  font-size: 64px;
  text-align: center;
  padding-bottom: 10px
}

.sub-text{
  color: #FAFAFA;
  font-size: 20px;
  text-align: center;
}

/*--------------------- Portfolo ------------------------------*/
.portfolio{
  background-color: #ECEFF1;
  width: 100%;
}

.portfolio-contents{
  padding: 90px 0;
  margin:  0 auto;
  width: 920px;
}

.portfolio-texts{
  padding: 30px 0;
  font-size: 16px;
  color:#000000;
  text-align: center;
}

.portfolio-images{
  display: flex;
  flex-wrap:wrap;
}

.production{
  width: 300px;
  height: 250px;
}

.portfolio-images :nth-child(2){
  margin-left: 10px;
  margin-right: 10px;
}

.portfolio-images :nth-child(5){
  margin-left: 10px;
  margin-right: 10px;
}

.portfolio-images :nth-child(1){
  margin-bottom: 10px;
}

.portfolio-images :nth-child(2){
  margin-bottom: 10px;
}

.portfolio-images :nth-child(3){
  margin-bottom: 10px;
}

.bg-1{
  background-position: center;
  background-image: url("img/sketch.jpg");
  background-size: cover;
}

.bg-2{
  background-position: center;
  background-image: url("img/websuku.png");
  background-size: cover;
}

.bg-3{
  background-position: center;
  background-image: url("img/write.jpg");
  background-size: cover;
}

.bg-4{
  background-position: center;
  background-image: url("img/webcamp.png");
  background-size: cover;
}

.bg-5{
  background-position: center;
  background-image: url("img/talk.jpg");
  background-size: cover;
}

.bg-6{
  background-position: center;
  background-image: url("img/webcamp-mother.png");
  background-size: cover;
}

/*--------------------- Feature ------------------------------*/
.feature{
  background-color: #FFFFFF;
  width: 100%;
}

.feature-contents{
  padding: 90px 0;
  margin:  0 auto;
  width: 980px;
}

.feature-texts{
  padding: 30px 0;
  font-size: 16px;
  color:#000000;
  text-align: center;
}

.feature-strengths{
  display: flex;
}

.strength{
  width: 320px;
  height: auto;
  margin-right : 10px;
}

.strength :last-child{
  margin-right: 0;
}

.strength i{
  display: block;
  font-size: 60px;
  text-align: center;
}

.strength h4{
  padding: 10px 0;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.strength p{
  font-size: 16px;
  color: #000000;
  text-align: left;
}

/*--------------------- Profile ------------------------------*/
.profile{
  background-color: #ECEFF1;
  width: 100%;
}

.profile-contents{
  padding: 90px 0;
  margin:  0 auto;
  width: 1024px;
}

.profile-texts{
  padding: 30px 0;
  font-size: 16px;
  color:#000000;
  text-align: center;
}

.my-profile{
  display: flex;
}

.profile-icon{
  width: 512px;
  text-align: center;
}

.profile-icon img {
    border-radius: 50%;
    width:  250px;
    height: 250px;
}

.profile-self_introduction{
  width: 512px;
}

.profile-self_introduction h4{
  padding-bottom: 5px;
  font-size: 20px;
}

.profile-self_introduction h4:not(:first-child){
  margin-top: 20px;
}

.profile-self_introduction p{
  font-size: 16px;
  color: #000000;
  text-align: left;
  margin-bottom: 20px;
}

/*--------------------- Contact ------------------------------*/
.contact{
  width: 100%;
}

.contact-contents{
  padding: 90px 0;
  margin:  0 auto;
  width: 800px;
}

.contact-texts{
  padding: 30px 0;
  font-size: 16px;
  color:#000000;
  text-align: center;
}

.my-contacts{
  display: flex;
}

.left-content{
  width: 400px;
  height: auto;
}

.right-content{
  width: 400px;
  height: auto;
}

.email_and_tel{
  margin: 0 auto;
  width: fit-content;
}

.email_and_tel h4{
  font-size: 20px;
  margin-bottom: 5px;
}

.email_and_tel h4:not(:first-child){
  margin-top: 20px;
}

.link-text{
  color: #212121;
}

.SNSs{
  margin: 0 auto;
  width: fit-content;
}

.SNSs h4{
  font-size: 20px;
  margin-bottom: 5px;
}

.SNSs i{
  font-size: 50px;
  margin-right: 20px;
}

.SNSs i:last-child{
  margin-right: 0;
}

/*--------------------- フッター ------------------------------*/
footer{
  width: 100%;
  height: 60px;
  background-color: #EC715F;
  text-align: center;
}

footer p{
  color: #FAFAFA;
  font-size: 16px;
  line-height: 60px;
}



/*===============================メディアクエリ =============================*/
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  body{
    width: 100%;
  }

  .container{
    width: 90%;
    margin: 0 auto;
  }


  /*--------------------- ヘッダー ------------------------------*/
  header{
    width: 100%;
    height: 50px;
    background-color: #EC715F;
  }

  .header-logo{
    height: 50px;
  }

  .header-nav{
    float: right;
    color: #FAFAFA;
    font-size: 16px;
  }

  /* ハンバーガーメニュー */
  /* チェックボックスは非表示に */
  .drawer-hidden {
    display: none;
  }

  /* ハンバーガーアイコンの設置スペース */
  .drawer-open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上に */
    cursor: pointer;
  }

  /* ハンバーガーメニューのアイコン */
  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }

  /* 三本線のうち一番上の棒の位置調整 */
  .drawer-open span:before {
    bottom: 8px;
  }

  /* 三本線のうち一番下の棒の位置調整 */
  .drawer-open span:after {
    top: 8px;
  }

  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* メニューのデザイン*/
  .drawer-content {
    width: 100%;
    height: 180px;
    position: fixed;
    top: 0;
    left: 100%;/* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #EC715F;
    transition: .5s;
  }

  /* アイコンがクリックされたらメニューを表示 */
  #drawer-check:checked ~ .drawer-content {
    left: 0;/* メニューを画面に入れる */
  }

  /* ハンバーガーメニュー用に配置をいじる */
  .header-nav li{
    float: left;
    color: #FAFAFA;
    font-size: 16px;
    line-height: 70px;
    padding: 5px 40px;
  }
  /* ハンバーガーメニュー 　ここまで*/


  /*--------------------- メインビジュアル ------------------------------*/
  .main-visual{
    background-image: url("img/code.png");
    background-position: center;
    background-size: cover;
    height: 650px;
  }

  .main-visual-texts{
    padding-top : 200px;
    padding-bottom : 200px;
  }

  .main-text{
    color: #FAFAFA;
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px
  }

  .sub-text{
    color: #FAFAFA;
    font-size: 18px;
    text-align: center;
  }

  /*--------------------- Portfolo ------------------------------*/
  .portfolio{
    background-color: #ECEFF1;
    width: 100%;
  }

  .portfolio-contents{
    margin:  0 auto;
    width: 100%;
  }

  .portfolio-texts{
    padding: 30px 0;
    font-size: 16px;
    color:#000000;
    text-align: center;
  }

  .portfolio-images{
    display: block;
  }

  .production{
    width: 300px;
    height: 250px;
    margin: 0 auto;
  }

  .portfolio-images :nth-child(2){
    margin: 0 auto;
  }

  .portfolio-images :nth-child(2){
    margin-bottom: 10px;
  }

  .portfolio-images :nth-child(4){
    margin-bottom: 10px;
  }

  .portfolio-images :nth-child(6){
    margin-bottom: 10px;
  }

  .bg-1{
    display: none;
    background-position: center;
    background-image: url("img/sketch.jpg");
    background-size: cover;
  }


  .bg-3{
    display: none;
    background-position: center;
    background-image: url("img/write.jpg");
    background-size: cover;
  }


  .bg-5{
    display: none;
    background-position: center;
    background-image: url("img/talk.jpg");
    background-size: cover;
  }



  /*--------------------- Feature ------------------------------*/
  .feature{
    background-color: #FFFFFF;
    width: 100%;
  }

  .feature-contents{
    width: 100%;
  }

  .feature-texts{
    padding: 30px 0;
    font-size: 16px;
    color:#000000;
    text-align: center;
  }

  .feature-strengths{
    display: block;
    margin: 0 auto;
  }

  .strength{
    width: 100%;
    height: auto;
    margin-right : 0;
    margin-bottom: 10px;
  }

  .strength :last-child{
    margin-right: 0;
    margin-bottom: 0;
  }

  .strength i{
    display: block;
    font-size: 60px;
    text-align: center;
  }

  .strength h4{
    padding: 10px 0;
    font-size: 20px;
    color: #000000;
    text-align: center;
  }

  .strength p{
    font-size: 16px;
    color: #000000;
    text-align: left;
  }



  /*--------------------- Profile ------------------------------*/
  .profile{
    width: 100%;
  }

  .profile-contents{
    margin:  0 auto;
    width: 100%;
  }

  .my-profile{
    display:block;
  }

  .profile-icon{
    width: 100%;
    text-align: center;
  }

  .profile-self_introduction{
    width: 100%;
  }

  /*--------------------- Contact ------------------------------*/
  .contact{
    width: 100%;
  }

  .contact-contents{
    margin:  0 auto;
    width: 100%;
  }

  .contact-texts{
    padding: 30px 0;
    font-size: 16px;
    color:#000000;
    text-align: center;
  }

  .my-contacts{
    display: block;
  }

  .left-content{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .right-content{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .email_and_tel{
    text-align: center;
    margin: 0 auto;
    width: fit-content;
  }

  .email_and_tel h4{
    font-size: 20px;
    margin-bottom: 5px;
  }

  .email_and_tel h4:not(:first-child){
    margin-top: 20px;
  }

  .link-text{
    color: #212121;
  }

  .SNSs{
    text-align: center;
    margin: 0 auto;
    width: fit-content;
  }

  .SNSs h4{
    font-size: 20px;
    margin-bottom: 5px;
  }

  .SNSs i{
    font-size: 50px;
    margin-right: 20px;
  }

  .SNSs i:last-child{
    margin-right: 0;
  }


  /*--------------------- フッダー ------------------------------*/
  footer{
    width: 100%;
  }
}
